
@import url(//db.onlinewebfonts.com/c/2c89eca877ffb0f22a0545301a99e53c?family=Ardela+Edge);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
    color: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/bgmain.png);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}




