
footer {
    background: black;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', 'Ardela Edge', 'Roboto', arial;
}

.navBarSponsors-images {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

hr {
    width: 90%;
    height: 3px;
    background: linear-gradient(90deg, rgba(95,0,230,1) 0%, rgba(230,34,73,1) 100%);
    border: none;
    margin-bottom: 10px;
}

.footerNetworks {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerNetworks-fluxo {
    color: white;
    font-size: 15px;
}

.footerNetworks-redes {
    display: flex;
    align-items: center;
    gap: 35px;
}

i {
    font-size: 35px;
    color: #fff;
}

.footerPolitics {
    margin-top: 20px;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.footerPolitics a {
    font-size: 13px;    
}

.footerContact {
    font-size: 13px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.footerWarning {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerWarning span {
    text-align: center;
}

span {
    color: white;
}